/* Fixes the initial browser’s style */
* {
    margin: 0;
    padding: 0;
}

div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
/*    background-color: #F0F0F5;*/
}
body {
    color: black;
    padding: 20px;
    letter-spacing: 1px;
    max-width: 800px;
    margin: auto;
    font-family: 'roboto-mono-light', sans-serif;
}
::-moz-selection { /* Code for Firefox */
    background: yellow;
}
::selection {
    background: yellow;
}
img {
    max-width: 100%;
    height: auto;
    margin-top: 1.2em;
    margin-bottom: 1.2em;
}
h1, h2 {
    font-size: 3.3em;
    line-height: 1em;
    text-align: center;
    text-transform: uppercase;
    font-weight: normal;
    font-family: 'roboto-mono-thin';
    font-weight: lighter;
}
h1 a, h1 a:hover, h1 a:visited, h1 a:focus, h1 a:active {
    color: black;
    border-bottom: 0;
}
h2 {
    font-size: 1.8em;
    margin-top: 20px;
}
a, a:hover, a:visited, a:focus, a:active {
    color: blue;
    border-bottom: 1px solid blue;
    text-decoration: none;
    -ms-word-break: break-all;
    word-break: break-all;
    /* Non standard for webkit*/
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}
p {
    font-family: 'roboto-mono-light';
    font-size: 1em;
    line-height: 1.5em;
}
.drawer {
    padding: 20px;
/*    border-left: 4px solid black;*/
/*    border-right: 4px solid black;*/
    margin-top: 40px;
}
.text-welcome {
    margin: 40px 0;
    text-align: center;
    font-size: 1.2em;
}
.menu {
    display: inline-block;
    margin: auto;
    margin-top: 20px;
}
.menu a, .menu a:hover, .menu a:visited, .menu a:focus, .menu a:active {
    color: black;
    border-bottom: 0;
}
.menu h3 {
    font-size: 1.2em;
    font-weight: normal;
    margin-bottom: 1em;
}
.menu p {
    font-size: 1.1em;
}
.menu-cards {
    border: 4px solid black;
    border-top: 3px solid black;
    border-left: 3px solid black;
    background-color: white;
    height: 400px;
    width: 700px;
    position: absolute;
    padding: 20px 30px;
}
.menu-cards:last-of-type {
    margin-bottom: 0px;
}
.menu-cards:hover {
/*    margin-bottom: 50px;*/
    z-index: 1000;
}
#items-container {
    margin-top: 4em;
}
.one-item {
    border: 4px solid black;
    border-top: 3px solid black;
    border-left: 3px solid black;
    margin-bottom: 40px;
    padding: 20px;
    max-width: 700px;
    min-height: 300px;
}
.item-type {
    text-transform: uppercase;
    float: left;
    padding-right: 10px;
    margin-bottom: 1em;
    width: 25%;
    min-height: 40px;
    -ms-word-break: break-all;
    word-break: break-all;
    /* Non standard for webkit*/
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}
.item-reference {
    float: left;
    width: 75%;
    min-height: 40px;
    margin-bottom: 1em;
}
.item-tags {
    float: left;
    width: 25%;
    min-height: 20px;
    padding-right: 10px;
    margin-bottom: 1em;
    -ms-word-break: break-all;
    word-break: break-all;
    /* Non standard for webkit*/
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}
.item-abstract {
    float: left;
    width: 75%;
    min-height: 200px;
    margin-bottom: 1em;
}
.card-hole {
    clear: both;
    margin-top: 0px;
    margin-left: 49%;
    font-size: 2.6em;
    width: 100%;
}
.independent-note {
    background-color: lightyellow;
}
.attached-note {
    margin-left: 50px;
    margin-right: 0;
}
.attached-note img, .attached-note p img {
    max-width: 100%;
}
.attached-note img:hover, .attached-note p img:hover {
    max-width: none;
}
@media screen and (min-width:250px) and (max-width:540px) {
    body {
    }
    h1, h2 {
        font-size: 2.3em;
    }
    img {
        max-width: 100%;
    }
    .img-big-center img {
        max-width: 100%;
    }
}
