/* Fixes the initial browser’s style */
* {
    margin: 0;
    padding: 0;
}

div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    background-color: #F0F0F0;
}
body {
    color: blue;
    font-family: Helvetica, sans-serif;
    padding: 20px;
    letter-spacing: 2px;
    max-width: 800px;
    margin: auto;
}
::-moz-selection { /* Code for Firefox */
    background: yellow;
}
::selection {
    background: yellow;
}
img {
    max-width: 800px;
}
h1, h2 {
    text-align: center;
    text-transform: uppercase;
    font-weight: normal;
}
h2 {
    margin-top: 10px;
}
a, a:hover, a:visited, a:focus, a:active {
    color: blue;
    border-bottom: 2px solid blue;
    text-decoration: none;
}
p {
    line-height: 1.6em;
}
.collection-content {
    border-top: 2px solid blue;
    margin-top: 40px;
    padding-top: 30px;
}
.item-reference {
    padding: 5px;
}
.item-type {
    font-size: 0.8em;
    background-color: lightgreen;
    padding: 5px 3px 3px 5px;
}
.text-bloc {
    padding: 5px;
}
.tag {
    font-size: 0.8em;
    border: 1px solid blue;
    background-color: white;
    padding: 5px 3px 3px 5px;
}
.attached-note {
    max-width: 600px;
    margin: auto;
    margin-top: 50px;
}
.attached-note img {
    max-width: 100%;
}
